.bg-container{
    background-image: url(https://ik.imagekit.io/bfbwpq7s0/Tourism%20Project/sea-ocean?updatedAt=1743626995943);
    height: 600px;
    width: 300px;
    background-repeat: no-repeat;
}
.bg-page-container{
    background-image: url(https://ik.imagekit.io/bfbwpq7s0/Tourism%20Project/taj-mahal?updatedAt=1743626996633);
    height: 600px;
    width: 300px;
    background-repeat: no-repeat; 
    background-position: center;
}